/SportiveBetsApp/.idea/caches/build_file_checksums.ser
/SportiveBetsApp/.idea/codeStyles/Project.xml
/SportiveBetsApp/.idea/vcs.xml
/SportiveBetsApp/.idea/runConfigurations.xml
/SportiveBetsApp/.idea/gradle.xml
